body{
    background-image: url(orig.gif);
    background-color: white ;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
}


.mainpage {
	position: absolute; /* Use absolute positioning to control placement */
    left: 10%; /* Keep the container 10% from the left edge of the page */
    top: 50%;
    transform: translateY(-50%); /* Center the container vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally within the container */
    justify-content: center; /* Center the content vertically within the container */
    
}


.mainpage h1, h2, p{
    text-align: center;
    
}
.mainpage h1{
    color: #00b2df;
	
}

.mainpage h2, p {
    color: #003140;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; /* Add spacing between links */
}

.links a {
    text-align: center;
    color: black;
    text-decoration: none; /* Remove underline from links */
    position: relative; /* Needed for positioning the icon */
    padding-right: 24px; /*  space for the icon */
}

.links a::after {
    content: "";
    display: inline-block;
    width: 16px; /*  size of the icon */
    height: 16px; /*  size of the icon */
    background-image: url('external-link.svg'); /* Path to icon */
    background-size: cover;
    position: absolute;
    right: 0; /* Position the icon to the right of the link */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    filter: brightness(0) invert(0); /* Make the icon white */
}

.links a:hover::after {
    filter: brightness(0) invert(0.5) sepia(1) hue-rotate(180deg) saturate(5); /* Make the icon blue on hover */
}
.outer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.outer a {

    
    width: 62px;
    height: 62px;
}

.outer img {
	filter: brightness(0) saturate(100%);
    height: 62px;
    width: 62px;
}

.outer a:hover {
    filter: brightness(0) invert(0.5) sepia(1) hue-rotate(180deg) saturate(5); 
}


/* mobile */
/* Mobile Responsive Styles */
  @media (max-width: 768px) {
	  body {
		  background-image: url(background.png)
	  }
      .links a {
        color: white;
      }

      .mainpage h1{
        color: yellow;
        
    }
    
    .mainpage h2, p {
        color: #ffffff;
    }

    .outer img{
        filter: invert(100%) brightness(100%) contrast(100%);
    }
	  
  }